﻿@using UrlShortener.Api.ViewModels;
@using UrlShortener.BusinessLogic.Services;

@model PasswordViewModel;

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@TranslateService.TranslatedTitlePage()</title>
    <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/images/icon.ico" type="image/x-icon" />
    <script src ="~/js/script.js" type="text/javascript"></script>
</head>

<body class="text-center">
    <form class="form-password-confirm" action="/@Model.Code" method="post">
        <h1 class="h6 mb-3 font-weight-normal">@TranslateService.TranslatedEnterPassword()</h1>
        @if (Model.ErrorMessage != null)
        {
            <p class="btn-block" style="color: red">@TranslateService.TranslatedWrongPassword()</p>

        }
        <label for="inputPassword" class="sr-only">@TranslateService.TranslatedPassword()</label>
        <input onkeyup="buttonEnabling()" type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="@TranslateService.TranslatedPassword()">
        <button id="btn" disabled="disabled" class="btn btn-lg btn-primary btn-block" type="submit">@TranslateService.TranslatedOpenLink()</button>
    </form>
</body>
</html>
