﻿@using UrlShortener.Api.ViewModels;

@model RedirectViewModel;

<html>
    <body onload="document.forms['redirection'].submit()">
            <form id="redirection" name="redirection" action="@Model.Url" method="@Model.Method">
                @foreach (var parameter in Model.Parameters)
                {
                    <input name="@parameter.Key" id= "@parameter.Key" type="hidden" value="@parameter.Value" />
                }
            </form>
    </body>
</html>
